{% extends "base.html" %}

{% block content %}
    <h1>Editor Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for err in form.username.errors %}
                <span style="color: red;">
                [{{ err }}]
            </span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, row=4) }}<br>
            {% for err in form.about_me.errors %}
                <span style="color: red;">
                [{{ err }}]
            </span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}